<script setup>
import { ref } from 'vue';

const props = defineProps(['task']);
const emit = defineEmits();

// Créer une data pour gérer l'état d'édition
const isEdited = ref(false);

// Méthode pour activer l'édition
const startEditing = () => {
    isEdited.value = true;
};

// Méthode pour terminer l'édition
const finishEditing = () => {
    // Logique pour terminer l'édition de la tâche
    isEdited.value = false;
};

// Méthode pour mettre à jour la tâche lorsqu'il y a des changements
const updateTask = () => {
    // Émettre un événement vers le parent avec les nouvelles données de la tâche
    emit('update', { id: props.task.id, title: props.task.title });
    // Terminer l'édition après la mise à jour
    finishEditing();
};
</script>

<template>
    <li :class="{ completed: task.completed, editing: isEdited }">
        <div class="view">
            <input class="toggle" type="checkbox" v-model="task.completed" @change="handleTaskCompleted" />
            <!-- Utilisation d'une directive v-if/else pour afficher le label ou l'input -->
            <label v-if="!isEdited" @dblclick="startEditing">{{ task.title }}</label>
            <input v-else class="edit" v-model="task.title" @blur="finishEditing" @keyup.enter="updateTask" />
            <button class="destroy" @click="deleteTask"></button>
        </div>
    </li>
</template>
  
<style scoped>
</style>